#page{
margin-left: auto;
margin-right: auto;
height:99%;
width:99%;
background-color: #F6F9FA;

-moz-box-shadow: 0px 0px 20px #000;
-webkit-box-shadow: 0px 0px 20px #000;
box-shadow: 0px 0px 20px #000;
}

#page:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

#banner{
margin-left: auto;
margin-right: auto;
margin-bottom:auto;
margin-top: auto;
width: 16em;
}

#navbar{
position:relative;
float:left;

width: 22.5%;
height:37em;
border-right: 3px solid gray;
border-top:5px solid gray;
}

#Content{

float:right;
position:relative;
border-top:5px solid gray;
width:77.2%;
height:37em;
overflow:scroll
}

.centreText{
text-align: center;
}
